NODE_ENV=development
PORT=4000

MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=
MARIADB_DATABASE=tp_rms
MARIADB_CONNECTION_LIMIT=10

REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=
JWT_EXPIRES_IN=12h

CORS_ORIGINS=http://localhost:5000,http://localhost:8080

LOG_LEVEL=info
